.sourcing{
    /* display: flex; */
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    padding: 1rem;
    margin: 1rem;
}
.text{
font-size: 1rem;
}
.searchField{
    width: 10% !important;
    height: auto !important;
    font-size: 10px !important;
    /* margin-left: auto; */
}
label,option,table{
    font-size: 75%;   
}
input,select{
    font-size: 60%;  
    width:50% !important;
    height:90% !important;
}
.mr-n12{
    margin-right: -14%;
}
.inline-grid{
    display: inline-grid;
}
.node-seq-criteria{
    max-height: 80%;
    overflow-y: scroll;
}

